.btn {
	border: none;
	background: transparent;
	padding: 8px 14px;
}

.btn__yellow {
	padding: 16px 24px;
	background: #FCED70;
	border-radius: 4px;
}

.btn__gray {
	padding: 16px 24px;
	border-radius: 0px 4px 4px 0px;
	background: #F7EEE3;
}

